.tamagotchitext{
  background-color: #E6E6FA;
  min-height: 800px;
  min-width: 800px;
  max-width: 800px;
  position: relative;

}

.image-wrapper{
  height: 100%;
  width: 100%;
  border: 10px pink;
  display: flex;
  display: absolute;
  align-items: center;
  justify-content: center;
}

.tamagotchiwindow{
  height: 150px;
  width: 180px;
  position: absolute;
  background-size: contain;
  background-color: pink;
  background-image: url('../images/tamagotchicrack.jpg');
}

.value-display{
  height: auto;
  display: grid;
  border: 1px black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0;
}
.image-wrapper > img {
  z-index: 2000;
  position: relative;
}
.value-display{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 50px;
  font-weight: 700;
  border: 1px white;
  height: 100px;
}













