.tamagotchitext{
  background-color: #E6E6FA;
  position: relative;

}

.image-wrapper{
  z-index: 1;
  height: 100%;
  width: 100%;
  border: 8px pink;
  display: flex;
  display: absolute;
  align-items: center;
  justify-content: center;
}



.layered-image {
  position: relative;
  
}
.layered-image img {
  height: 420px;
  width: 420px;
}
.image-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 10px;
  width: 10px;
}
/*.tamagotchiwindow{
  height: 150px;
  width: 180px;
  position: absolute;*/
/*  background-size: contain;
  background-color: pink;*/
/*/*}*//*breaks buttons*
/*.value-display{
  height: auto;*/
 /* display: grid;*/
 /* border: 1px black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}*/
/*.image-wrapper > image {
  z-index: 0;
  position: relative;
}*/
/*.value-display{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 50px;
  font-weight: 700;
  border: 1px white;
  height: 100px;
}
*/












